/* ==========MEDIA QUERY MAx-WIDTH: 600PX========== */
@media (max-width: 600px){
.banner h1 {
  color: red;
}
/* ======= BANNER ========= */

h1 {
  font-family: 'Irish Grover', cursive;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
}

.banner {
  background: url(imgs/bannerbackground.jpg) no-repeat;
  border-bottom: 20px solid black;
}
form div {
  align-items: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}
/* ====== CAROUSEL DIV ======== */
.carousel-container {
  font-size: 12px;
  background-size: 100% 500px;
  padding: 0 3em;
}
/* ====== buttons ========== */
.previous, .next {
  font-size: 10px;
}
/* ====== data divs ========== */
.data {
  width: 150px;
  justify-content: space-between;
  padding: 3em;
}
img {
  width: 75px;
  height: 75px;
  margin: 0.75em 3em .75em 0em;
}
img:hover {
  transform: scale(2);
}
.div1, .div2, .div3, .div4{
  display: none;
}

.data div:first-of-type {
  display: block;
}

#ability, #item, #moves {
  border-color: red;
  border-width: 2px;
  background-color: azure;
  border-radius: 8px;
}
}

/* =========ANIMATION============= */
@keyframes spin {
from {
    transform: rotate(0deg);
} to {
    transform: rotate(360deg);
}
