<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container" id="new">
      <h1 class="showh1">wuTcha Wnt</h1>
        <form action="/store" method="POST">
          <fieldset>
            <legend>eR 411</legend>
            dA: <input type="text" name="name" value=""/>
            DscRp: <input type="text" name="description" value=""/>
          </fieldset>
          <fieldset>
            <legend>piCZ linKz</legend>
            <input type="text" name="img" value=""/>
          </fieldset>
          <fieldset class="" id="inventory">
            <legend>nUmBErz</legend>
            <input type="text" name="price" value="price" id="price"/>
            <input type="text" name="qty" value="qty" id="qty"/>
          </fieldset>
          <input type="submit" name="" value="gEt n'TheRe!" class="btn btn-danger"/>
        </form>
      </div>
  </body>
</html>
